In [ ]:
import pandas as pd
import requests

In [ ]:
api_url = "https://raw.githubusercontent.com/owid/covid-19-data/refs/heads/master/public/data/latest/owid-covid-latest.json"
response = requests.get(api_url)
raw_data = response.json()

new_df = pd.DataFrame(raw_data)
new_df = new_df.transpose()

assert new_df.shape == (247, 66), "dataframe is incorrect shape"

In [ ]:
df = pd.DataFrame(raw_data)

value = raw_data["MMR"]
value 
df = pd.json_normalize(value)
df

In [ ]:
result_df = pd.DataFrame()

for key in raw_data.keys():
    row = raw_data[key]
    row_df = pd.json_normalize(row)
    row_df['country_code'] = key
    result_df = pd.concat([result_df, row_df], ignore_index=True)

assert result_df.shape == (247, 67), "dataframe is incorrect shape"

In [90]:
result_df.shape

(247, 67)

In [95]:
result_df.head()

  continent  ... country_code
0      Asia  ...          AFG
1      None  ...     OWID_AFR
2    Europe  ...          ALB
3    Africa  ...          DZA
4   Oceania  ...          ASM

[5 rows x 67 columns]

In [ ]:
url_cities = "https://raw.githubusercontent.com/dr5hn/countries-states-cities-database/refs/heads/master/json/countries%2Bcities.json"
response_cities = requests.get(url_cities)

In [ ]:
raw_data_cities = response_cities.json()

df_cities = pd.json_normalize(raw_data_cities)

In [ ]:
df_cities.columns

In [94]:
df_cities.head()

   id            name  ...     translations.uk     translations.pl
0   1     Afghanistan  ...          –ê—Ñ–≥–∞–Ω—ñ—Å—Ç–∞–Ω          Afganistan
1   2   Aland Islands  ...   –ê–ª–∞–Ω–¥—Å—å–∫—ñ –æ—Å—Ç—Ä–æ–≤–∏     Wyspy Alandzkie
2   3         Albania  ...             –ê–ª–±–∞–Ω—ñ—è             Albania
3   4         Algeria  ...               –ê–ª–∂–∏—Ä            Algieria
4   5  American Samoa  ...  –ê–º–µ—Ä–∏–∫–∞–Ω—Å—å–∫–µ –°–∞–º–æ–∞  Samoa Ameryka≈Ñskie

[5 rows x 39 columns]

In [91]:
df_cities.shape

(250, 39)

In [99]:
merge_df = result_df.merge(df_cities, left_on="country_code", right_on="iso3")

In [104]:
lst_capital = merge_df['capital'].unique()
lst_capital.size

234

In [105]:
url_countries = "https://raw.githubusercontent.com/dr5hn/countries-states-cities-database/refs/heads/master/json/countries.json"
response_contries = requests.get(url_countries)
raw_data_countries = response_contries.json()
df_countries = pd.json_normalize(raw_data_countries)

In [114]:
df_countries.shape
df_countries = df_countries[["iso3", "capital"]]

In [115]:
merge_df = result_df.merge(df_countries, left_on="country_code", right_on="iso3")

In [116]:
merge_df.shape

(234, 69)

In [117]:
merge_df.head()

  continent        location  ... iso3           capital
0      Asia     Afghanistan  ...  AFG             Kabul
1    Europe         Albania  ...  ALB            Tirana
2    Africa         Algeria  ...  DZA           Algiers
3   Oceania  American Samoa  ...  ASM         Pago Pago
4    Europe         Andorra  ...  AND  Andorra la Vella

[5 rows x 69 columns]